.pass{
     margin-top: 20px;
}
[nz-button] {
    margin-top: 12px;
  }
.create{
     text-align: center;
}  

/* -------------
 */
 input.ng-touched.ng-invalid {
     border-color: red;
   }
   
   div.error {
     color: red;
     font-size: 0.8em;
   }
   