<div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Admin Dashboard</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="dashboard">Dashboard</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <span routerLink="create">Create User</span>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="user-list">User List</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>User Permission</a>
            </li>
          </ul>
        </li>
      </ul>
